@import (less) '../../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css';
@import (less) '../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';

body,
html,
#app,
.container-fluid {
    min-height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

.sidebar {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    height: 100vh;
    overflow-y: auto;

    .book-name-form {
        display: flex;
        .book-name-input {
            flex: 2 1;
        }
        .book-name-button {
            flex: 1 1;
        }
    }

    .search-result-item {
        .search-result-item-img {
            justify-content: center;
            align-items: center;
            display: flex;
        }
        .search-result-item-title {
            font-weight: bold;
            margin: 0;
        }
        padding: 1em 0;
    }
}

.main {
    padding: 1em;

    .book-list {
        .book-list-item {
            cursor: pointer;
            padding: 1em 1em;
            .book-list-item-img {
                img {
                    max-height: 250px;
                }
            }
            .book-list-item-title {
                padding: 1em 0 0 0;
                margin: 0;
                font-weight: bold;
            }
            .book-list-item-input-holder {
                display: block;
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
                border-radius: 3px;
                padding: 0;
                display: flex;
                overflow: hidden;
                align-items: center;
                text-align: center;
                font-weight: bold;
                transition: 0.2s all;

                &.checked-book {
                    background: #27ae60;
                    color: #fff;
                }

                .book-list-item-input {
                    padding: 0.5em 1em;
                    background: rgba(0, 0, 0, 0.15);
                }
                span {
                    flex: 1 1;
                    padding: 0.5em;
                }
            }
        }
    }
    .book-list-item-remove {
        background: none;
        text-decoration: underline;
        border: 0;
        font-size: 0.75em;
        cursor: pointer;
    }

    .report-count {
        table {
            width: 100%;
        }
    }
}
